table{
  table-layout: fixed;
  width: 100%;
  /* border: 1px solid; */
}

td,th{
  /* border-style: solid; */
  word-wrap: break-word;

  border: 1px solid;
  background-color: #dddddd;

}

td{
  border :1px solid;
  text-align: center;
}