.asterick::after {
  content: "*";
  color: red
}

.row{
  margin-bottom: 20px;
  padding-left: 15px;
}
.page{
  padding-top: 10px;
}
label.error {
  color: red;
  font-size: 15px;
  /* display: block; */
  margin-left: 15px;
}
.nextday{
  font-size: 20px;
  font-weight: bold;
}