.asterick::after {
  content: "*";
  color: red
}

.row{
  margin-bottom: 20px;
  padding-left: 15px;
}
.page{
  padding-top: 10px;
}
label.error {
  color: red;
  font-size: 15px;
  /* display: block; */
  margin-left: 15px;
}
.nextday{
  font-size: 20px;
  font-weight: bold;
}
.set{
  font-size: 12px;
  padding-left: 13px;
  color: rgb(86, 84, 84);
  word-spacing: 5px;

}

#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 