table{
  table-layout: fixed;
  width: 100%;
  
  /* border: 1px solid; */
}

td,th{
  /* border-style: solid; */
  word-wrap: break-word;

  border: 1px solid;
  background-color: #dddddd;

}

td{
  border :1px solid;
  text-align: center;
}
.email{
  width: 160px;
}
.name{
  width: 160px;
}
.age{
  width: 40px;
}
.phn{
  width: 120px;
}
.gender{
  width: 60px;
}
.days{
  width: 100px;
}
